$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

:root {
    --default-transition: all 0.3s ease-in-out;
}

body {
    font-family: "Helvetica Neue", Helvetica;
    margin: 0px;
    background-color: RGB(var(--background));
    color: RGB(var(--font));
}

body, #root {
    width: 100vw;
    height: calc(100vh - 54px);
}

#content {
    margin-top: 44px;
    overflow: auto;
    height: 100%;
}